.Day{
    border: 5px solid rgb(110, 110, 110);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    width: 175px;
    height: 250px;
}

.Day:hover{
    background-color: rgb(188, 255, 255);
}
.temperaturehot{
    color: red;
}
.temperaturecold{
    color: blue;
}
